<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Reset your password, <%= @user.first_name %> <%= @user.last_name %></h1>
    <p>
      Click on the below link and enter your new password to reset it.
    </p>
    <p>
      <b>Note: The link will expire in next 20 minutes.</b>
    </p>
    <%= link_to 'Reset Password', admin_password_reset_url(token:@user.reset_password_token) %>
    <p>Thanks for using Admin Dashboard.</p>
  </body>
</html>
