<section class="main-container">
  <h2 class="form-heading">Forgot Password?</h2>

  <div class="form-container">
    <%= form_with url: password_forgot_url, method: :post do |form| %>
      <p class="enter-email-txt">Enter your email to receive a password reset link.</p>
      <%= form.email_field :email, required: true, placeholder: 'example@domain.com' %>
      <p class="field-error-txt"><%= @error %></p>
      <%= form.submit "Send reset link" %>
    <% end %>
  </div>

</section>
