<section class="main-container">
  <h2 class="form-heading">Forgot Password?</h2>

  <div class="form-container">
    <p class="enter-email-link">Enter your email to receive a password reset link.</p>
    <%= form_with url: password_forgot_url, method: :post do |form| %>
      <%= form.email_field :email, required:true %>
      <p class="field-error-txt"><%= @error %></p>
      <%= form.submit "Email reset link" %>
    <% end %>
  </div>

</section>
