<section class="header-container">
  <div class="header">
    <!-- TODO: Add an on select callback to fetch items of that specific category -->
    <select id="item-category-select">
      <option value="1" selected="selected">Others</option>
      <option value="2">Books</option>
      <option value="3">Foods</option>
      <option value="4">Medicines</option>
    </select>
  </div>
</section>

<section class="item-table-section">
  <table>
    <thead>
      <th>Name</th>
      <th>Price</th>
      <th>Imported</th>
    </thead>
    <tbody>

    </tbody>
  </table>
</section>
