<section class="header-container">
  <div class="header">
    <!-- TODO: Add an on select callback to fetch items of that specific category -->
    <select id="item-category-select">
      <option value="1" selected="selected">Others</option>
      <option value="2">Books</option>
      <option value="3">Foods</option>
      <option value="4">Medicines</option>
    </select>
  </div>
</section>

<section class="item-table-section">
  <table class="items-table">
    <thead>
      <th>Name</th>
      <th>Price</th>
      <th>Imported</th>
      <th>Add To Cart</th>
    </thead>
    <tbody>
      <% @items.each do |item| %>
      <tr>
        <td><%= item.name.titleize %></td>
        <td><%= item.taxed_price %></td>
        <td class="import-tag"><%= "imported" if item.is_imported %></td>
        <td><button type="button" id="add-to-cart-btn">Add</button></td>
        <td hidden><%= render "count-btn" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
